%h1 Listing dictionaries

%table
  %thead
    %tr
      %th Name
      %th Language
      %th
      %th
      %th

  %tbody
    - @dictionaries.each do |dictionary|
      %tr
        %td= dictionary.name
        %td= dictionary.language
        %td= link_to 'Show', dictionary
        %td= link_to 'Edit', edit_dictionary_path(dictionary)
        %td= link_to 'Destroy', dictionary, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dictionary', new_dictionary_path
