%p#notice= notice

%p
  %b Name:
  = @word.name
%p
  %b Language:
  = @word.language
%p
  %b Word class:
  = @word.word_class
%p
  %b Definition:
  = @word.definition
%p
  %b Comments:
  = @word.comments
%p
  %b Frequency:
  = @word.frequency
%p
  %b Dictionary:
  = @word.dictionary.name

= link_to 'Edit', edit_dictionary_word_path(@word.dictionary, @word)
\|
= link_to 'Back', dictionary_words_path(@word.dictionary)
